extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Jason Kennaly

        p.lead.text-light
          | Programmer

        .portfolio-bio
          p
            | I like to program stuff.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML/CSS/JavaScript 
          li Node
          li Express
          li JSX
          li Mithril
          li MySQL
          li Background database synchronization
          li Auth0
          li Cloudinary
          li Angular 1
          li jQuery
          li IEC 61131-3 Languages (for industrial control systems)
          li PHP
          li Java
          
        h6 Contact Info

        ul
          li 619-940-7514
          li jkennaly@gmail.com

        a.button.expanded(href='https://github.com/jkennaly') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  